/*
 * @Description: 
 * @Author: AS
 * @Date: 2021-02-04 02:27:28
 * @LastEditors: AS
 * @LastEditTime: 2021-02-04 02:45:37
 * @FilePath: \lagou-admin-system\Frontend\src\assets\common.css
 */

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

td {
  line-height: 100%;
}